{% extends 'layout.njk' %}

{% block aside %}
    <div class="indexAside">
        <div class="categories">
            <div class="categorie">
                <p>Pizzaria</p>
                <span hidden="true">
                    <img src="assets/pizza.svg" alt="pizzaria">
                </span>
            </div>
            <div class="categorie">
                <p>Restaurante
                </p>
                <span hidden="true">
                    <img src="assets/restaurant.svg" alt="restaurante">
                </span>
            </div>
            <div class="categorie">
                <p>Sorveteria / Açaiteria</p>
                <span hidden="true">
                    <img src="assets/ice-cream.svg" alt="sorveteria">
                </span>
            </div>
            <div class="categorie">
                <p>Churrascaria</p>
                <span hidden="true">
                    <img src="assets/barbecue.svg" alt="churrascaria">
                </span>
            </div>
            <div class="categorie">
                <p>Bar</p>
                <span hidden="true">
                    <img src="assets/drinks.svg" alt="bar">
                </span>
            </div>
        </div>
    </div>
{% endblock aside %}

{% block main %}
    <div class="indexMain">
        
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="img">
                        <img src="assets\labellapizza.jpg" alt="">
                    </div>
                    <div class="infos">
                        <h2>La Bella Pizza</h2>
                        <p>Pizzaria</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="infos">
                        <h2>Nome</h2>
                        <p>Tipo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="infos">
                        <h2>Nome</h2>
                        <p>Tipo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="infos">
                        <h2>Nome</h2>
                        <p>Tipo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="infos">
                        <h2>Nome</h2>
                        <p>Tipo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="infos">
                        <h2>Nome</h2>
                        <p>Tipo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}