{% extends 'layout.njk' %}

{% block aside %}
    <div class="indexAside">
        <div class="categories">

            <a href="/pizzarias" class="categorie">
                <p>Pizzaria</p>
                <span hidden="true">
                    <img src="assets/pizza.svg" alt="pizzaria">
                </span>
            </a>

            <a href="/restaurantes" class="categorie">
                <p>Restaurante
                </p>
                <span hidden="true">
                    <img src="assets/restaurant.svg" alt="restaurante">
                </span>
            </a>
            <a href="/gelados" class="categorie">
                <p>Sorveteria / Açaiteria</p>
                <span hidden="true">
                    <img src="assets/ice-cream.svg" alt="sorveteria">
                </span>
            </a>

            <a href="/churrascarias" class="categorie">
                <p>Churrascaria</p>
                <span hidden="true">
                    <img src="assets/barbecue.svg" alt="churrascaria">
                </span>
            </a>

            <a href="/bares" class="categorie">
                <p>Bar</p>
                <span hidden="true">
                    <img src="assets/drinks.svg" alt="bar">
                </span>
            </a>
            <a href="/lanchonetes" class="categorie">
                <p>Lanchonete</p>
                <span hidden="true">
                    <img src="assets/lanchonete.svg" alt="lanchonete">
                </span>
            </a>
        </div>
    </div>
{% endblock aside %}

{% block main %}
    <div class="indexMain">

        <div class="content">
            <div class="cards">
                {% for establishment in establishments %}
                    <div class="card">
                        <div class="img">
                            <img src="{{establishment.image_url}}" alt="{{establishment.image_url}}">
                        </div>
                        <div class="infos">
                            <h2>{{establishment.name}}</h2>
                            <p>{{establishment.category_name}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock main %}

{% block modal %}

    <div class="modal"></div>

{% endblock modal %}