{% extends 'layout.njk' %}

{% block content %}

    <form action="">

        <section class="form">
            <div class="content">
                <div class="item">
                    <label for="">Nome do Estabelecimento:</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label for="">Imagem do estabeleciento:</label>
                    <input type="url" name="img_url">
                </div>
                <div class="item">
                    <label for="">Telefone:</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label for="">Endereço:</label>
                    <input type="text">
                </div>
                <div class="item">
                    <label for="">Tipo de estabelecimento:</label>
                    <input type="text">
                </div>

            </div>
                <button type="submit">Cadastrar</button>

        </section>

    </form>

{% endblock content %}