<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="icon" href="/assets/pizza.svg">

        <title>Buxin Xei</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="home">
                    <a href="/">
                        <img src="/assets/pizza.svg" alt="buxinxei">
                        <p>Buxin<br>Xei</p>
                    </a>
                </div>
                <div class="links">
                    <a href="/restaurantes">Restaurantes</a>
                    <a href="/cadastrar">Cadastro</a>
                    <a href="#">Fale conosco</a>
                </div>
                <div class="login">
                    <button>Login</button>
                </div>
            </header>
            <aside>
                {% block aside %}{% endblock aside %}
            </aside>
            <main>
                {% block main %}{% endblock main %}
            </main>
        </div>
        <footer>
            <p>Todos os direitos reservados</p>
        </footer>
        <script src="scripts/script.js"></script>
    </body>
</html>