<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="icon" href="/assets/buxinxeiSymbol.svg">

        <title>Buxin Xei</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="home">
                    <a href="/">
                        <img src="/assets/buxin-xei-logo.png" alt="buxinxei">
                    </a>
                </div>

                <div class="search">
                    <input type="text" name="search" id="" autocomplete="off">
                    <button class="searchBtn">
                        <img src="assets/search.svg" alt="">
                    </button>
                </div>
                <div class="register-login">
                    <div class="register">
                        <a href="/register">Anuncie Já!</a>
                    </div>
                    <div class="login">
                        <a href="/login">Login</a>
                    </div>
                </div>

            </header>
            <aside>
                {% block aside %}{% endblock aside %}
            </aside>
            <main>
                {% block main %}{% endblock main %}
            </main>
        </div>

        {% block modal %}{% endblock modal %}

        <script src="scripts/script.js"></script>
    </body>
</html>